.App {
  width: 99vw;
  height: 99vh;
  text-align: center;
  display: grid;
  place-items: center;
}

.buttons {
  display: flex;
  gap: 300px;
}

.img-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
  border: none;

}

.img-button>span {
  width: 100%;
  text-align: center;
}