.App {
  width: 99vw;
  height: 99vh;
  text-align: center;
  display: grid;
  place-items: center;
}

.buttons {
  display: flex;
  gap: 300px;
}

.img-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
  border: none;

}

.img-button>span {
  width: 100%;
  text-align: center;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.header {
  margin-bottom: 100px;
  font-size: 70px;
}